<html>
<header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</header>
<div class="container">
<div id="alerts"></div>
<h1 id='send-msg'>Send MSG</h1>
</div>
<div class="container">
<div class="row">
	<div id="insert-ships" >
		<!-- insert ships to create -->
	</div>
	<br>
	<br>
	<br>
	<div class="col-4" id="ship-info">
	</div>
		<div id="grid-container" class="container">
	<center>
		<div id="name">
			<img  src="http://media.moddb.com/images/games/1/51/50292/battleship_banner.png" width="800" height="300" alt="">
			<div>
				<br>
				<h1>Enter your name here to begin</h1>
				<br>
				<form id="create-form">
					<input type="text" id="create-name">
					<input class="submit-button" type="submit" value="submit">
				</form>
			</div>
		</div>
	</div>
</center>
	</div>
		<div id="firing-grid" style="height:520px; width: 520px;">
		</div>
	<br>
	<div id="players-grid" style="height:520px; width: 520px;">
	</div>
</html>
