<header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</header>
<div id="alerts"></div>
<h1 id='send-msg'>Send MSG</h1>
<div class="row">
	<div class="col-4" id="insert-ships" >
		<!-- insert ships to create -->
	</div>
	<br>
	<br>
	<br>
	<div id="ship-info">
	</div>
	<center>
		<div id="grid-container" style="height:520px; width: 520px;">
		<div id="name">
			<h2>Enter your name here to begin</h2>
			<form id="create-form">
				<input type="text" id="create-name">
				<input class="submit-button" type="submit" value="submit">
			</form>
		</div>
	</div>
	</div>
	<center>
		<div id="firing-grid" style="height:520px; width: 520px;">
		</div>
	<br>
	<div id="players-grid" style="height:520px; width: 520px;">
	</div>
</center>
</center>