<html>
<header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
</header>

<div id="logo" class="container" style="text-align: center"><img  src="http://media.moddb.com/images/games/1/51/50292/battleship_banner.png" width="800" height="300" alt=""></div>
<div class="container">
<div id="alerts"></div>
<h1 id='send-msg'></h1>
</div>
	<div class="row-fluid" id="insert-ships" >
		<!-- insert ships to create -->
	</div>
	<center>
		<div id="ship-info">

	</center>
	</div>
		<br>
	<div id="grid-container" class="container" style="height: 520px; width: 520px; padding: 0px;">
	<center>
		<div id="name">
			<div>
				<br>
				<h1 style="font-family: 'Black Ops One', cursive;">Enter your name to start playing</h1>
				<br>
				<form id="create-form">
					<input style="font-family: 'Black Ops One', cursive;" class="form-control transparent-input" type="text" id="create-name" placeholder="Enter your name">
					<button  style="font-family: 'Black Ops One', cursive;" class="btn btn-default btn3d submit-button">Submit</button>
					<button style="font-family: 'Black Ops One', cursive;" class="btn btn-default btn3d history-button">Top Winners</button>
				</form>
			</div>
		</div>
	</div>
</center>
	<!-- </div> -->
	<center>
		<div id="firing-grid" style="height:520px; width: 520px;">
		</div>
	<br>
	<div id="players-grid" style="height:520px; width: 520px;">
	</div>
	</center>
</html>
