/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.grid-border {
	border-style: solid;
	border-width: 1px;
	width: 50px;
	height: 50px;
	float: left;
}

url(https://fonts.googleapis.com/css?family=Black+Ops+One);

html {
}
h1{
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
	/*font-family: 'Black Ops One', cursive;*/

}
body {
    height: 100%;
		background:  url(https://media.giphy.com/media/P79XRHxdwWeuQ/giphy.gif) no-repeat center center fixed;
	  background-size: cover;
}
.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}

input.transparent-input{
       background-color:transparent !important;
       border:1px solid black
    }

		textarea{
  		color:black !important;
		}

		input[type="text"]{
			color:black !important

		}

		input::-webkit-input-placeholder {
		color: black !important;
		font-family: 'Black Ops One', cursive;
		}

		input::-webkit-input-placeholder {
		color: black !important;
		font-family: 'Black Ops One', cursive;
		}
		 
		input:-moz-placeholder { /* Firefox 18- */
		color: black !important; 
		font-family: 'Black Ops One', cursive;
		}
		 
		input::-moz-placeholder {  /* Firefox 19+ */
		color: black !important; 
		font-family: 'Black Ops One', cursive;
		}
		 
		input:-ms-input-placeholder { 
		color: black !important; 
		font-family: 'Black Ops One', cursive;
		}

		ol {
		width:500px;
    -moz-column-count: 2;
    -moz-column-gap: 150px;
    -webkit-column-count: 2;
    -webkit-column-gap: 150px;
    column-count: 2;
    column-gap: 150px;
}
